{% extends 'blogs/base.html'%}
{% csrf_token%}
{%block content%}
<div class="centerstage">

  {% for post in post_list %}
    <div class="post">
    <!-- This is the Link to Each Post to Display its Content -->
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>

      <div class="date">
      <p>Post Published Date:{{post.publishtime|date:'d-m-Y'}}</p>
    </div>
    <!-- Link to Comments and Display of number of approved Comments -->
    <a href="{%url 'post_detail' pk=post.pk %}">Comments:{{post.approved_comments.count}}</a>
  </div>
  {%endfor%}

</div>
{%endblock%}
